<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Health.IO</title>
  <link rel="stylesheet" href="/style.css">
</head>
<body>
  <header>
    <h1>Health.IO</h1>
    <nav>
      <a href="/analyze">Analyze</a>
      <a href="/login">Login</a>
    </nav>
  </header>

  <main>
    <%- body %>   <!-- where child views will render -->
  </main>

  <script src="/script.js"></script>
</body>
</html>
